<!DOCTYPE html>
<html>

<head>
    <title>AMH - PROCESO DE PAGO</title>

    <style type="text/css">
        body {
            width: 1100px;
            font-size: 17px;
            margin: 2% 2% 2% 2%;
            padding: 5px;
            line-height: 22px;
            
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: rgb(33, 33, 33);
        }
        
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            padding:2px;
            /*transition: 0.3s;*/
        }
        /* On mouse-over, add a deeper shadow */
        /* .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        } */
        /* Add some padding inside the card container */
        
        .container {
            padding: 1px 1px;
            width: 99%;
        }
        
        .table {
            font-size: 16px;
            width: 98%;
            margin-bottom: 1rem;
            color: #212529;
        }
        
        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        
        .table thead th {
            vertical-align: bottom;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }
        
        .table tbody+tbody {
            border-top: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
        }
        
        .table-sm th,
        .table-sm td {
            padding: 0.3rem;
        }
        
        .table-bordered {
            border: 1px solid #dee2e6;
        }
        
        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }   
    
        
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }
        
        .table-hover tbody tr:hover {
            color: #212529;
            background-color: rgba(0, 0, 0, 0.075);
        }
        
        .table-primary,
        .table-primary>th,
        .table-primary>td {
            background-color: #b8daff;
        }
        
        .table-primary th,
        .table-primary td,
        .table-primary thead th,
        .table-primary tbody+tbody {
            border-color: #7abaff;
        }
        
        .table-secondary,
        .table-secondary>th,
        .table-secondary>td {
            background-color: #d6d8db;
        }
        
        .table-secondary th,
        .table-secondary td,
        .table-secondary thead th,
        .table-secondary tbody+tbody {
            border-color: #b3b7bb;
        }
                
        .table-hover .table-secondary:hover>td,
        .table-hover .table-secondary:hover>th {
            background-color: #c8cbcf;
        }
        
        .table-success,
        .table-success>th,
        .table-success>td {
            background-color: #c3e6cb;
        }
        
        .table-success th,
        .table-success td,
        .table-success thead th,
        .table-success tbody+tbody {
            border-color: #8fd19e;
        }
        
        .table-hover .table-success:hover {
            background-color: #b1dfbb;
        }
                
        .table-info,
        .table-info>th,
        .table-info>td {
            background-color: #bee5eb;
        }
        
        .table-info th,
        .table-info td,
        .table-info thead th,
        .table-info tbody+tbody {
            border-color: #86cfda;
        }
        
        .table-hover .table-info:hover {
            background-color: #abdde5;
        }
        
        .table-hover .table-info:hover>td,
        .table-hover .table-info:hover>th {
            background-color: #abdde5;
        }       
        
        .table-light,
        .table-light>th,
        .table-light>td {
            background-color: #fdfdfe;
        }
        
        .table-light th,
        .table-light td,
        .table-light thead th,
        .table-light tbody+tbody {
            border-color: #fbfcfc;
        }
        
        .table-hover .table-light:hover {
            background-color: #ececf6;
        }
        
        .table-hover .table-light:hover>td,
        .table-hover .table-light:hover>th {
            background-color: #ececf6;
        }
        
        .table-hover .table-dark:hover {
            background-color: #b9bbbe;
        }
        
        .table-hover .table-dark:hover>td,
        .table-hover .table-dark:hover>th {
            background-color: #b9bbbe;
        }
        
        .table-active,
        .table-active>th,
        .table-active>td {
            background-color: rgba(0, 0, 0, 0.075);
        }
        
        .table-hover .table-active:hover {
            background-color: rgba(0, 0, 0, 0.075);
        }
        
        .table-hover .table-active:hover>td,
        .table-hover .table-active:hover>th {
            background-color: rgba(0, 0, 0, 0.075);
        }
        
        .table .thead-dark th {
            color: #fff;
            background-color: #343a40;
            border-color: #454d55;
        }
        
        .table .thead-light th {
            color: #495057;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
        
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
        
        .table-responsive>.table-bordered {
            border: 1px;
        }
        
    </style>
    <meta charset="utf-8">
</head>

<body>

    <div class="container">
        <p>
            <div style="padding-right:30px;"> 
                <img  src="http://localhost:3000/images/fondo.png">
            </div>
        </p>
        
        <p style="text-align: center;"><b><i>MOVIMIENTOS DE CAJA - FECHA CONTABLE {{fc}}</i> </b></p>                
        <br>

        <div class="card">
            <div class="container">

                <h4><b>MOVIMIENTOS CUENTA AMH - 30075 </b></h4>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Tip. Doc.</th>
                            <th scope="col">N° D.</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Entrada</th>
                            <th scope="col">Salida</th>
                        </tr>
                    </thead>
                    <tbody>
                           {{#each data}}
                            <tr>                                        
                                <td>{{idcomprobante}}</td>
                                <td>{{idmovcajdia}}</td>
                                <td>{{glosa}}</td>
                                <td>{{numberFormat entrada}}</td>
                                <td>{{numberFormat salida}}</td>
                            </tr>
                        {{else}}
                            <tr>                                        
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>        
            </div>
        </div>        
        <br>
       
    </div>
    </body>
</html>